# local package
-e .

# external requirements
click == 8.1.7
Sphinx == 7.2.6
coverage == 7.4.3
flake8 == 7.0.0
python-dotenv>=0.5.1
polars == 0.20.15
ipykernel == 6.29.3
langchain == 0.1.12
langchain_community == 0.0.28
lancedb == 0.6.3
langchain-openai == 0.0.8
chroma == 0.4.24